body {
    background-color: #f4f4f4;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
}

.card-body {
    padding: 2rem;
}

img {
    width: 250px;
}

/* Estilos del header y la imagen dentro del header */
.header {
    width: 100%;
    height: 100px; /* Altura del header */
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
    background-color: #f4f4f4; /* Fondo opcional */
}

.header-img {
    width: 300px; /* Ancho de la imagen */
    height: 100px; /* Altura de la imagen */
    object-fit: contain; /* Mantiene la proporción de la imagen */
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

p a {
    color: #007bff;
}

p a:hover {
    text-decoration: underline;
}
