.product-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 14px 14px 0px;
    transition: transform 0.3s ease;
    height: 409px;
    width: 216.2px;
}

.product-img {
    height: 180px;
    width: 180px;
    object-fit: contain;
    margin-bottom: 15px;
    margin: 10px 0px 0px;
    padding: 20px;
}

.product-price {
    font-weight: bold;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0em;
    line-height: 25px;
    text-align: left;
}

.product-title {
    color: #000000;
    font-size: 16px;
    margin-top: 10px;
}

@font-face {
    font-family: 'MyriadPro-semibold-600';
    src: url('../fonts/MyriadPro-semibold-600.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

.add-button {
    background-color: #00FF00;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 86px;
    min-height: 32px;
    max-height: 32px;
    color: #000000;
    border-color: #00FF00;
    font-size: 14px;
    font-family: 'MyriadPro-semibold-600', sans-serif;
    font-weight: 600;
}

.add-button:hover {
    background-color: #00FF00;
}

.filter-section h5 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.subcategoria-container {
    display: none;
}

.spinner-container {
    display: none;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 36px;
    border: 1px solid #525252;
    border-radius: 5px;
}

.spinner-container .btn-spinner {
    background-color: #f8f9fa;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner-value {
    display: inline-block;
    width: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

button[name="logout"] {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button[name="logout"]:hover {
    background-color: red;
    color: #000000;
}

.cart-item {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.cart-item-img {
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
}

.cart-item-name {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.cart-item-details {
    flex-grow: 1;
}

.cart-item-spinner {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: #000000;
}

.cart-item-price {
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    margin-right: 20px;
}

.cart-item-delete {
    background-color: #000000;
    border: none;
    color: white;
    padding: 6px 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.cart-item-delete:hover {
    background-color: #00FF00;
}

.cart-item-quantity {
    display: flex;
    align-items: center;
}

.btn-spinner {
    padding: 5px 10px;
    font-size: 0.9rem;
}

#cart-items {
    max-height: 400px;
    overflow-y: auto;
}

#cart-total-modal {
    font-size: 1.2rem;
    font-weight: bold;
}

.spinner-value {
    width: 30px;
    text-align: center;
}

/* Estilos personalizados para el botón de "Continuar con la compra" */
.custom-confirm-btn {
    background-color: #000000; /* Verde clásico */
    border: none; /* Elimina el borde */
    color: #fff; /* Texto en blanco */
    padding: 12px 24px; /* Aumenta el padding para un botón más grande */
    font-size: 16px; /* Tamaño de la fuente */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave al cambiar de color */
}

.custom-confirm-btn:hover {
    background-color: #00FF00; /* Verde más oscuro en hover */
    color: #000000;
}

/* Estilos personalizados para el botón de "Vaciar carrito" */
.custom-clear-btn {
    background-color: #000000; /* Rojo clásico */
    border: none; /* Elimina el borde */
    color: #fff; /* Texto en blanco */
    padding: 12px 24px; /* Aumenta el padding para un botón más grande */
    font-size: 16px; /* Tamaño de la fuente */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave al cambiar de color */
}

.custom-clear-btn:hover {
    background-color: #00FF00; /* Rojo más oscuro en hover */
    color: #000000;
}

